footer {
	padding: 40px 0 0 0;
}
.contact-form {
	padding-top: 20px;
}
.contact-form textarea {
	height: 100px;
}
.contact-form .input-error {
	border-color: #bd5a10;
}
.footer-bottom {
	margin-top: 60px;
	padding-top: 15px;
	padding-bottom: 25px;
	background-color: #c9eae7;
	text-align: center;
}
.footer-bottom a {
	font-size: 20px;
    color:#bd5a10;
    line-height: 40px;
}
.footer-bottom a:hover, .footer-bottom a:focus { 
	color: #bd5a10; 
}