.contactSection {
	padding-top: 20px;
}
.footerContainer {
	margin-top: 60px;
	padding-top: 15px;
	padding-bottom: 25px;
	background-color: #c9eae7;
	text-align: center;
}
.footerContainer a {
	font-size: 20px;
  color:#bd5a10;
  line-height: 40px;
}