#program, #registration, #venue, #support, #history, #footer {
	background-color: #c9eae7;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
    line-height: 30px;
    text-align: center;
}
.dottedLine span {
	display: inline-block;
	border-bottom: 1px dotted black;
	width: 200px;
}
strong { 
	font-weight: 600;
}
#topDivider {
	width: 80%;
}
a, a:hover, a:focus {
	color: #bd5a10;
}
.containerMargin {
    margin: 0 auto;
}
h1 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    font-style: italic;
}
h2 {
	margin-top: 10px;
	font-size: 32px;
    font-weight: 700;
    color: black;
    line-height: 40px;
    font-style: italic;
}
h3 {
	font-size: 24px;
    font-weight: 600;
    color: black;
    line-height: 28px;
    font-style: italic;
}
img {
	max-width: 100%;
}