body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
    line-height: 30px;
    text-align: center;
}
strong { 
	font-weight: 600; 
}
a, a:hover, a:focus {
	color: #bd5a10;
	text-decoration: none;
	-o-transition: all .3s; 
	-moz-transition: all .3s; 
	-webkit-transition: all .3s; 
	-ms-transition: all .3s; 
	transition: all .3s;
}
h1 {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 40px;
    font-weight: 800;
    color: #555;
    line-height: 60px;
    font-style: italic;
}
h2 {
	margin-top: 10px;
	font-size: 32px;
    font-weight: 700;
    color: black;
    line-height: 40px;
    font-style: italic;
}
h3 {
	font-size: 24px;
    font-weight: 600;
    color: black;
    line-height: 28px;
    font-style: italic;
}
img { 
	max-width: 100%;
}
.section-container {
    margin: 0 auto;
}
.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color:black;
}
.section-container-image-bg .divider-1 span {
	border-color: black;
}
.section-container-image-bg p {
	opacity: 0.8;
}
#topDivider {
	width: 80%;
}
.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dotted black;
}
#program, #registration, #venue, #support, #history, #footer {
	background-color: #c9eae7;
}