.containerBackground {
	padding-bottom: 3em;
	background-color: #c9eae7;
 }
 .homeSection {
	 margin-top: 5em;
 }
.homeSection .text h2 {
	margin-top: 2em;
}
.homeSection .text h1 {
	margin-top: 40px;
	color: black;
}
.homeSection div.eventDescription {
	-moz-border-radius: 20px;
	border-radius: 20px;
  margin: 50px 50px 0px;
  padding: 30px 30px 10px;
  background-color: #bb99f36e;
	-webkit-border-radius: 20px;
}
.homeSection div.eventDescription p {
  font-weight: 700;
  line-height: 26px;
  color: black;
	text-align: justify;
}