.containerBackground {
	padding-bottom: 3em;
	background-color: #c9eae7;
 }
.homeSection .text h2 {
	margin-top: 10px;
}
.homeSection .text h1 {
	margin-top: 40px;
	color: black;
}
.homeSection div.eventDescription h3 {
	color: #000;
	font-weight: 900;
}
.homeSection .description {
	margin: 30px 0 10px;
}
.homeSection div.eventDescription {
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px; 
	border-radius: 20px;
  margin: 50px 50px 0px;
  padding: 50px 50px 10px;
  background-color: #bb99f3d4;
}
.homeSection div.eventDescription p {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}