.inner-bg {
	padding-bottom: 3em;
	background-color: #c9eae7;
 }
.top-content .text {
	color: #fff;
}
.top-content .text h1 {
	margin-top: 40px;
	color: black;
}
.top-content .text h2 {
	margin-top: 10px;
	color: black;
}
.top-content .description {
	margin: 30px 0 10px;
}
.top-content div.transbox {
  margin: 50px 50px 0px;
  padding: 50px 50px 10px;
  background-color: #bb99f3d4;
  opacity: 0.8;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
.top-content div.transbox p {
  font-weight: 700;
  color: #000000;
  line-height: 26px; 
}
.top-content div.transbox h3 {
	color: #000;
	font-weight: 900;
}