.navbar.menuBackground {
	background: #a9193a;
}
ul.navbar-nav {
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
}
.navbar-inverse ul.navbar-nav li a {
  padding-top: 20px;
  color: #fff;
  padding-right: 5px;
  padding-bottom: 20px;
}
.navbar-inverse ul.navbar-nav li a:hover {
  color: rgba(255, 255, 255, 0.699);
}