.previousEditionsNavigationLink  {
	overflow: hidden;
}
.firstEditionYear {
	text-decoration: underline;
	font-size: 28px;
}
.firstEditionTitle {
	font-size: 20px;
}
.firstEditionProgram {
	font-size: 20px;
	color: #d03909;
}
.firstEditionGallery, .firstEditionSupport {
	font-size: 20px;
}
.firstEditionSupportHeader {
	margin-top: 1em;
}
.rowMarginBottom {
	margin-bottom: 2em;
}
#photos2017 img {
	width: 8em;
	height: 5em;
}