.programNavigationLink {
	overflow: hidden;
}
.program-box-text {
	margin-top: 40px;
	padding-left: 30px;
	overflow: hidden;
	text-align: left;
}
.program-box-text:first-child { 
	margin-top: 20px; 
}
.program-box-text-left {
	padding-left: 0;
	padding-right: 30px;
}
.program-box-text h3 {
	margin-top: 0;
}