.support-box {
	margin-top: 30px;
	text-align: left;
}
.support-box h3 {
	margin-top: 0;
}
.support-box h3 a { 
	color: #555; 
}
.support-box h3 a:hover, .support-box h3 a:focus { 
	color: #bd5a10; 
}
.support-box h3 i {
	padding-left: 10px;
	color: #ccc;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.support-box h3:hover i { 
	padding-left: 15px; 
}
.support-container .section-bottom-button {
	padding-top: 40px;
}